@import "tailwindcss";

@plugin "daisyui";

:root {
  --sans: system-ui, 'Segoe UI', roboto, sans-serif;

  font-family: var(--sans);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
